body {
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0; /* Always open */
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: #0d6efd; /* Primary blue color */
  color: #fff; /* White text color */
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group-item {
  background-color: #0d6efd; /* Primary blue color */
  color: #fff; /* White text color */
}

#sidebar-wrapper .list-group-item:hover {
  background-color: #0a58ca; /* Darker blue on hover */
}

#page-content-wrapper {
  min-width: 100vw;
}

.navbar {
  background-color: #0d6efd; /* Primary blue color */
}

.navbar .nav-link {
  color: #fff; /* White text color */
}

.navbar .nav-link:hover {
  color: #d4d4d4; /* Light gray on hover */
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
}
.card-body {
  height: 100%;
}

canvas {
  display: block;
  width: 100% !important;
  max-height: 500px !important;
}

.logo-wrapper {
  float: left;
}
.logo {
  width: 20px;
  height: 50px;
  scale: 40%;
}

.logo-menu {
  margin-left: 80px;
  margin-top: -18px;
  float: right;
  font-weight: bold;
}
